*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #fff;
    background-image: url(Mainback1.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/****************************************************/
li{
   list-style: none;
   color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
  
    
    
}
/****************************************************/
a:hover{
    color: orangered;
}

header{
    position:  relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    float: left;
    padding: 10px 5px;
    top: 25px;
   
}

.bar_logo{
    width: 100px;
}

/* Style for the logo image */
.logo img {
    max-width: 100%;
    height: 100px;
}




@media (max-width: 600px) {

    .logo {
        float: none;
        text-align: center;
    }

    body{
        height: 100vh;
        background-color: #fff;
        background-image: url(mainmobile.png);
        background-size: cover;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    
    }
}


.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    z-index: 9;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(222, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 310px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*  FOR RESPONSIVE */
@media (max-width: 600px) {
    .navbar .links,
    .navbar .action_btn{
        display:none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 600px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}


/*  FOR SEARCH VBAR AND RESPONSIVE */
.search-container {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.search-box {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 5px;
    cursor: pointer;
}

.search-button:hover{
    background-color: orangered;
}

@media screen and (max-width: 600px) {
    .search-container {
        height: auto;
        top: 200px;
        width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .below-text {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 180px;
        font-size: 10px;
        color: #fff;
        width: auto;
    }
    
    .search-box {
        width: 90%;
        max-width: none;
        margin: 10px;
    }
}
/*  FOR SEARCH VBAR AND RESPONSIVE */


h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: #fff;
    top: 40px;
    margin: 20px 0; 
}




h1 {
    font-size: 35px; 
    margin: 20px 0; 
    
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px; 
        margin: 10px 0; 
        top: 170px;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px; 
        margin: 5px 0; 
        letter-spacing: 3px;
    }
}



#content  {
    position: relative;
    height: 650px; /* Adjust the height as needed */
    background-color: rgb( 33, 41, 66 );
    padding: 20px;
    top: 485px;
   
}
#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

/* FOR MISSION AND VISION */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    text-align: center; /* Center-align text */
    border-radius: 5px;
    
}
/****************************************************/
.main_title h1 {
    color: rgb(255, 255, 255);
   
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  
}

.below-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  font-size: 18px;
  color: #ffffff;
  width: auto;
  font-weight: bold;
  

}
/****************************************************/
.mission{
    font-size: 30px;
    cursor: pointer;
}

.mission:hover{
    color: orangered;
}

.vision:hover{
    color: orangered;
}

.mission_content{
    position: absolute;
    top: 180px;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    display: flex;
    width: 1200px;
    font-size: 27px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.vision{
    font-size: 30px;
    top: 170px;
    cursor: pointer;
}
.vision_content{
    position: absolute;
    top: 400px;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    display: flex;
    width: 1200px;
    font-size: 27px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #666;
}
@media (max-width: 600px) {

    #content  {
        position: relative;
        height: 500px; 
        background-color: rgb( 33, 41, 66 );
        padding: 20px;
        top: 400px;
        z-index: 999;
    }
    #scrollButton {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: orangered;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
    }

    .container {
        padding: 10px;
        border: 5px;
    }

    .mission{
        position: absolute;
        top: 70px;
        text-align: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        letter-spacing: 2px;
    }


    .vision{
        position: absolute;
        top: 250px;
        text-align: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        letter-spacing: 2px;
    }
    .mission_content{
        font-size: 15px;
        top: 150px;
    }
 
    .vision_content{
        font-size: 15px;
        top: 350px;
    }
}


/*  */

#new-content {
    position: relative;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: 700px; /* Adjust the height as needed */
    padding: 20px;
    top: 435px;
}

@media (max-width: 600px) {
    #new-content {
        position: relative;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        height: 700px; /* Adjust the height as needed */
        padding: 20px;
        top: 10px;
        border-radius: 20px;
    
    }
}

        /* Define styles for the button */
        .new-scroll-button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        /* Define styles for the content section */
        .new-content-section {
            margin-top: 50px;
            padding: 20px;
            background-color: #f0f0f0;
        }





/* FOR FOOTER */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 430px;
}

@media (max-width: 600px) {
    .footer {
        font-size: 14px;
        color: #fff;
    }
}

@media (max-width: 600px) {
    .footer {
        font-size: 12px;
    }

    .footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: relative;
        top: 0px;
    }
}
/* FOR FOOTER */



   /* FOR IMAGE SLIDER */


.slideshow-container {
    max-width: 1000px; /* Adjust the width as needed */
    margin: 0 auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); /* Add box shadow */
    border-radius: 15px;
    height: 500px;
    margin-top:70px;
}

.mySlides {
    display: none;
}

img {
    width: 1000px;
    height: 500px;
    border-radius: 15px;
}



  /* FOR IMAGE SLIDER */

  .update{
    position: absolute;
    z-index: 9;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  @media (max-width: 600px) {
    .update {
        font-size: 10px;
        top: 390px;
        letter-spacing: 5px;
    }

    .slideshow-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 350px; /* Adjust the width as needed */
        margin: 0 auto;
        top: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); /* Add box shadow */
        border-radius: 15px;
        height: 200px;
        
    }
    
    .mySlides {
        display: none;
    }
    
    img {
        width: 350px;
        height: 200px;
        border-radius: 15px;
    }
    

}



#contentLog  {
    position: relative;
    height: 650px; 
    padding: 20px;
    top: 485px;
    background-color: rgb( 33, 41, 66 );
}

@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}

.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 600px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.containerlog {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 600px) {
    .containerlog {
        display: flex;
        height: 320px;
        margin: 0 auto;
        width: 300px;
      }
  }

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 600px) {
  .left {
display: none;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #595959;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
  font-style: italic;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 600px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input .pass {
    background: transparent;
    border: 1px solid #6bb4cc;
    color: #f2f2f2;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
  }
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}


@media (max-width: 600px) {
#contentLog  {
    position: relative;
    height: 700px; /* Adjust the height as needed */
    padding: 20px;
    top: 540px;
   
}
.login {
    display: none;
  }
  .eula {
display: none;
  }

  #particles-js {
    position: relative;
    width: 100%;
    height: 650px; 
  }
  .container-login{
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb( 33, 41, 66 );
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    width: 300px;
    height: 500px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
  }
}

.forgot-password-link {
    color: #bdbdbd; /* Set your desired color */
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    display: block;
    margin: 0 auto; 
    text-align: center; 
    margin-top: 15px;
  }
  
  
  .forgot-password-link:hover {
    text-decoration: none; /* Underline the link on hover */
  }
  
  #particles-js {
    position: relative;
    width: 100%;
    height: 650px; 
  }
  .container-login{
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb( 33, 41, 66 );
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
  }

  
.box h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff7700; 
    font-size: 18px;
    margin-top:94px;;
  }
  
  .box h4 span {
    color: #dfdeee;
    font-weight: lighter;
  }
  
  .box h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-bottom: 70px;
  }
  
  .box input[type = "text"],.box input[type = "password"] {
    display: block;
    margin: 20px auto;
    background: #262e49;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #d6d6d6;
        -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
    
  }
  ::-webkit-input-placeholder {
    color: #565f79;
  }
  
  .box input[type = "text"]:focus,.box input[type = "password"]:focus {
    border: 1px solid #ff7700;
    
  }
  

  
   label input[type = "checkbox"] {
    display: none; /* hide the default checkbox */
  }
  
  /* style the artificial checkbox */
  label span {
    height: 13px;
    width: 13px;
    border: 2px solid #464d64;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  
    left: 7.5%;
  }
  
  .btn1 {
    border:0;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 100px;
    width: 340px;
    height: 49px;
    font-size: 16px;
    position: absolute;
    top: 79%;
    left: 8%;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .btn1:hover {
    background: #5d33e6;
  }
  
  .rmb {
    position: absolute;
    margin-left: -24%;
    margin-top: 0px;
    color: #dfdeee;
    font-size: 13px;
  }
  
  .forgetpass {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      float: none; 
      right: auto; 
      font-size: 13px;
    }
    
  
  .dnthave{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }

  .dnthave1{
    position: absolute;
    top: 5%;
    right: 20px;
    font-size: 20px;
  }
  
  [type=checkbox]:checked + span:before {/* <-- style its checked state */
      font-family: FontAwesome;
      font-size: 16px;
      content: "\f00c";
      position: absolute;
      top: -4px;
      color: #896cec;
      left: -1px;
      width: 13px;
  }
  
  .typcn {
    position: absolute;
    left: 339px;
    top: 282px;
    color: #3b476b;
    font-size: 22px;
    cursor: pointer;
  }      
  
  .typcn.active {
    color: #7f60eb;
  }
  
  .error {
    background: #ff3333;
    text-align: center;
    width: 337px;
    height: 20px;
    padding: 2px;
    border: 0;
    border-radius: 5px;
    margin: 10px auto 10px;
    position: absolute;
    top: 31%;
    left: 7.2%;
    color: white;
    display: none;
  }
  
  .password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: whitesmoke;
    color: #ff7700;
}


